docker:
  image: "quay.io/giantswarm/aws-operator:[[ .Version ]]"
pod:
  user:
    id: 1000
  group:
    id: 1000
project:
  name: "aws-operator"
resource:
  default:
    name:  aws-operator-v[[ .Version | replace "." "-" ]]
    namespace: "giantswarm"
  psp:
    name: aws-operator-psp-v[[ .Version | replace "." "-" ]]
  pullSecret:
    name: aws-operator-pull-secret-v[[ .Version | replace "." "-" ]]
    namespace: "giantswarm"
