flag:
  service:
    feature:
      labelselector:
        enabled: false
    test:
      labelselector:
        version: ""
image:
  name: "giantswarm/aws-operator"
  tag: "[[ .Version ]]"
Installation:
  V1:
    Registry:
      Domain: quay.io
pod:
  user:
    id: 1000
  group:
    id: 1000
ports:
  ingress:
    - name: "http"
      port: 8000
      protocol: "TCP"
project:
  branch: "[[ .Branch ]]"
  commit: "[[ .SHA ]]"
