flag:
  service:
    feature:
      labelselector:
        enabled: false
    test:
      labelselector:
        version: ""
image:
  name: "giantswarm/aws-operator"
  tag: "[[ .Version ]]"
Installation:
  V1:
    Provider:
      AWS:
        TrustedAdvisor:
          Enabled: yeah
        RouteTableNames: asd
        Route53:
          Enabled: yooo
        Region: asd
        PodInfraContainerImage: asd2
        DeleteLoggingBucket: asd
        IncludeTags: asd
        Encrypter: asd
        AvailabilityZones:
          - asd
          - asd2
        AdvancedMonitoringEC2: asd
        S3AccessLogsExpiration: asd
    Auth:
      Vault:
        Address: asd
    Secret:
      AWSOperator:
        SecretYaml: asdasdasd
      Registry:
        PullSecret:
          DockerConfigJSON: asdsadad
    Security:
      Subnet:
        VPN: asds
        Customer:
          Private: asdsad
          Public: asdsad
      RestrictAccess:
        GuestAPI:
          Private: asd
          Public: asd
    Guest:
      Calico:
        Subnet: asd
        CIDR: asd2
      Docker:
        CIDR: asd
      SSH:
        SSOPublicKey: asd
        UserList: asd
      Kubernetes:
        API:
          ClusterIPRange: asd
          Auth:
            Provider:
              OIDC:
                GroupsClaim: asd
                UsernameClaim: asd
                IssuerURL: asd
                ClientID: asd
      IPAM:
        PrivateSubnetMask: 22
        PublicSubnetMask: 23
        CIDRMask: 22
        NetworkCIDR: 1.1.1.1
    Name: test
    Registry:
      Domain: quay.io
pod:
  user:
    id: 1000
  group:
    id: 1000
project:
  branch: "[[ .Branch ]]"
  commit: "[[ .SHA ]]"



# Resource names are truncated to 47 characters. Kubernetes allows 63 characters
# limit for resource names. When pods for deployments are created they have
# additional 16 characters suffix, e.g. "-957c9d6ff-pkzgw" and we want to have
# room for those suffixes.
#
# NOTE: All values under resource key need to be used with `tpl` to render them
# correctly in the templates. This is because helm doesn't template values.yaml
# file and it has to be a valid json. Example usage:
#
#     {{ tpl .Values.resource.default.name . }}.
#
resource:
  default:
    name: '{{ .Release.Name | replace "." "-" | trunc 47 }}'
    namespace: "giantswarm"
  psp:
    name: '{{ .Release.Name | replace "." "-" | trunc 47 }}-psp'
  pullSecret:
    name: '{{ .Release.Name | replace "." "-" | trunc 47 }}-pull-secret'
    namespace: "giantswarm"
