e2eTest: &e2eTest
    machine: true
    working_directory: /home/circleci/.go_workspace/src/github.com/giantswarm/aws-operator
    steps:
    - checkout
    - attach_workspace:
        at: .
    - run: |
        wget -q $(curl -sS https://api.github.com/repos/giantswarm/e2e-harness/releases/latest | grep browser_download_url | head -n 1 | cut -d '"' -f 4)
        chmod +x ./e2e-harness
    - run: ./e2e-harness localkube
    - run: ./e2e-harness setup --remote=false
    - run: ./e2e-harness test --test-dir=${TEST_DIR}
    - store_artifacts:
        path: .e2e-harness/workdir/logs
        destination: logs
    - run:
        command: ./e2e-harness teardown
        when: always

version: 2.1
orbs:
  architect: giantswarm/architect@0.4.5
jobs:
  build:
    machine: true
    steps:
    - checkout

    - run: |
        wget -q $(curl -sS -H "Authorization: token $RELEASE_TOKEN" https://api.github.com/repos/giantswarm/architect/releases/latest | grep browser_download_url | head -n 1 | cut -d '"' -f 4)
        chmod +x ./architect
        ./architect version

    - run: |
        date +"%Y" > /tmp/year
        date +"%m" > /tmp/month
        date +"%d" > /tmp/day
    - restore_cache:
        keys:
        - go-cache-v1-{{ checksum "/tmp/year" }}-{{ checksum "/tmp/month" }}-{{ checksum "/tmp/day" }}
        - go-cache-v1-{{ checksum "/tmp/year" }}-{{ checksum "/tmp/month" }}
        - go-cache-v1-{{ checksum "/tmp/year" }}

    - run: ./architect build

    - store_test_results:
        path: /tmp/results

    - save_cache:
        key: go-cache-v1-{{ checksum "/tmp/year" }}-{{ checksum "/tmp/month" }}-{{ checksum "/tmp/day" }}
        paths:
        - /tmp/go/cache

    - persist_to_workspace:
        root: .
        paths:
        - ./aws-operator
        - ./architect

  deploy:
    machine: true
    steps:
    - checkout
    - attach_workspace:
        at: .
    - deploy:
        command: |
            ./architect deploy




  master:
    docker:
      - image: busybox
    steps:
      - run: "true"
  pr:
    docker:
      - image: busybox
    steps:
      - run: "true"



  e2eTestPRClusterState:
    environment:
      TEST_DIR: "integration/test/clusterstate"
    <<: *e2eTest

  e2eTestMasterClusterState:
    environment:
      TEST_DIR: "integration/test/clusterstate"
    <<: *e2eTest



  e2eTestPRDraining:
    environment:
      TEST_DIR: "integration/test/draining"
    <<: *e2eTest

  e2eTestMasterDraining:
    environment:
      TEST_DIR: "integration/test/draining"
    <<: *e2eTest



# e2eTestPRIPAM:
#   environment:
#     TEST_DIR: "integration/test/ipam"
#   <<: *e2eTest
#
# e2eTestMasterIPAM:
#   environment:
#     TEST_DIR: "integration/test/ipam"
#   <<: *e2eTest



  e2eTestPRRecreateCluster:
    environment:
      TEST_DIR: "integration/test/recreatecluster"
    <<: *e2eTest

  e2eTestMasterRecreateCluster:
    environment:
      TEST_DIR: "integration/test/recreatecluster"
    <<: *e2eTest



  e2eTestPRScaling:
    environment:
      TEST_DIR: "integration/test/scaling"
    <<: *e2eTest

  e2eTestMasterScaling:
    environment:
      TEST_DIR: "integration/test/scaling"
    <<: *e2eTest



  e2eTestMasterUpdate:
    environment:
      TEST_DIR: "integration/test/update"
    <<: *e2eTest
  e2eTestPRUpdate:
    environment:
      TEST_DIR: "integration/test/update"
    <<: *e2eTest



workflows:
  version: 2
  build:
    jobs:
      - build:
          filters:
            tags:
              only: /^v.*/
      - hold:
          type: approval
      - master:
          requires:
            - build
          filters:
            branches:
              only: master
      - pr:
          requires:
            - build
            - hold
          filters:
            branches:
              ignore: master



#     - e2eTestMasterClusterState:
#         requires:
#           - master
      - e2eTestPRClusterState:
          requires:
            - pr



#     - e2eTestMasterDraining:
#         requires:
#           - master
      - e2eTestPRDraining:
          requires:
            - pr



#     - e2eTestMasterIPAM:
#         requires:
#           - master
#     - e2eTestPRIPAM:
#         requires:
#           - pr



#     - e2eTestMasterRecreateCluster:
#         requires:
#           - master
      - e2eTestPRRecreateCluster:
          requires:
            - pr



#     - e2eTestMasterScaling:
#         requires:
#           - master
      - e2eTestPRScaling:
          requires:
            - pr



#     - e2eTestMasterUpdate:
#         requires:
#         - master
      - e2eTestPRUpdate:
          requires:
          - pr
      - hold-push-aws-operator-to-aliyun-pr:
          type: approval
          requires:
            - build
          # Needed to prevent job from being triggered on thiccc branch.
          filters:
            branches:
              ignore: thiccc

      - architect/push-to-docker:
          name: push-aws-operator-to-aliyun-pr
          image: "registry-intl.cn-shanghai.aliyuncs.com/giantswarm/aws-operator"
          username_envar: "ALIYUN_USERNAME"
          password_envar: "ALIYUN_PASSWORD"
          # Push to Aliyun should execute for non-thiccc branches only once manually approved.
          requires:
            - hold-push-aws-operator-to-aliyun-pr
          # Needed to prevent job from being triggered on thiccc branch.
          filters:
            branches:
              ignore: thiccc

       # Push to Aliyun should execute without manual approval on thiccc.
      - architect/push-to-docker:
          name: push-aws-operator-to-aliyun-thiccc
          image: "registry-intl.cn-shanghai.aliyuncs.com/giantswarm/aws-operator"
          username_envar: "ALIYUN_USERNAME"
          password_envar: "ALIYUN_PASSWORD"
          requires:
            - build
          # Needed to trigger job only on merge to thiccc.
          filters:
            branches:
              only: thiccc
      - deploy:
          name: deploy
          requires:
            - push-aws-operator-to-aliyun-thiccc
          filters:
            branches:
              only: thiccc
