e2eTest: &e2eTest
    machine: true
    working_directory: /home/circleci/.go_workspace/src/github.com/giantswarm/aws-operator
    steps:
    - checkout
    - attach_workspace:
        at: .
    - run: |
        wget -q $(curl -sS https://api.github.com/repos/giantswarm/e2e-harness/releases/latest | grep browser_download_url | head -n 1 | cut -d '"' -f 4)
        chmod +x ./e2e-harness
    - run: ./e2e-harness localkube
    - run: ./e2e-harness setup --remote=false
    - run: ./e2e-harness test --test-dir=${TEST_DIR}
    - run:
        command: ./e2e-harness teardown
        when: always



version: 2
jobs:
  build:
    machine: true
    steps:
    - checkout

    - run: |
        wget -q $(curl -sS -H "Authorization: token $RELEASE_TOKEN" https://api.github.com/repos/giantswarm/architect/releases/latest | grep browser_download_url | head -n 1 | cut -d '"' -f 4)
        chmod +x ./architect
        ./architect version

    - run: ./architect build

    - persist_to_workspace:
        root: .
        paths:
        - ./aws-operator

    - deploy:
        command: |
          if [ "${CIRCLE_BRANCH}" == "master" ]; then
            ./architect deploy
          fi



  e2eTestCurPRDraining:
    environment:
      TESTED_VERSION: "current"
      TEST_DIR: "integration/test/draining"
    <<: *e2eTest

  e2eTestCurMasterDraining:
    environment:
      TESTED_VERSION: "current"
      TEST_DIR: "integration/test/draining"
    <<: *e2eTest

  e2eTestWIPPRDraining:
    environment:
      TESTED_VERSION: "wip"
      TEST_DIR: "integration/test/draining"
    <<: *e2eTest

  e2eTestWIPMasterDraining:
    environment:
      TESTED_VERSION: "wip"
      TEST_DIR: "integration/test/draining"
    <<: *e2eTest



  e2eTestCurPRReboot:
    environment:
      TESTED_VERSION: "current"
      TEST_DIR: "integration/test/reboot"
    <<: *e2eTest

  e2eTestCurMasterReboot:
    environment:
      TESTED_VERSION: "current"
      TEST_DIR: "integration/test/reboot"
    <<: *e2eTest

  e2eTestWIPPRReboot:
    environment:
      TESTED_VERSION: "wip"
      TEST_DIR: "integration/test/reboot"
    <<: *e2eTest

  e2eTestWIPMasterReboot:
    environment:
      TESTED_VERSION: "wip"
      TEST_DIR: "integration/test/reboot"
    <<: *e2eTest



  e2eTestCurPRScaling:
    environment:
      TESTED_VERSION: "current"
      TEST_DIR: "integration/test/scaling"
    <<: *e2eTest

  e2eTestCurMasterScaling:
    environment:
      TESTED_VERSION: "current"
      TEST_DIR: "integration/test/scaling"
    <<: *e2eTest

  e2eTestWIPPRScaling:
    environment:
      TESTED_VERSION: "wip"
      TEST_DIR: "integration/test/scaling"
    <<: *e2eTest

  e2eTestWIPMasterScaling:
    environment:
      TESTED_VERSION: "wip"
      TEST_DIR: "integration/test/scaling"
    <<: *e2eTest



workflows:
  version: 2
  build_e2e:
    jobs:
      - build
      - hold:
          type: approval
          filters:
            branches:
              ignore: master
          requires:
          - build



      - e2eTestCurPRDraining:
          requires:
          - hold
      # - e2eTestWIPPRDraining:
      #     requires:
      #     - hold
      - e2eTestCurMasterDraining:
          filters:
            branches:
              only: master
          requires:
          - build
      - e2eTestWIPMasterDraining:
          filters:
            branches:
              only: master
          requires:
          - build



      - e2eTestCurPRReboot:
          requires:
          - hold
      - e2eTestWIPPRReboot:
          requires:
          - hold
      - e2eTestCurMasterReboot:
          filters:
            branches:
              only: master
          requires:
          - build
      - e2eTestWIPMasterReboot:
          filters:
            branches:
              only: master
          requires:
          - build



      - e2eTestCurPRScaling:
          requires:
          - hold
      - e2eTestWIPPRScaling:
          requires:
          - hold
      - e2eTestCurMasterScaling:
          filters:
            branches:
              only: master
          requires:
          - build
      - e2eTestWIPMasterScaling:
          filters:
            branches:
              only: master
          requires:
          - build
