e2eTest: &e2eTest
    machine: true
    working_directory: /home/circleci/.go_workspace/src/github.com/giantswarm/aws-operator
    steps:
    - checkout
    - attach_workspace:
        at: .
    - run: |
        wget -q $(curl -sS https://api.github.com/repos/giantswarm/e2e-harness/releases/latest | grep browser_download_url | head -n 1 | cut -d '"' -f 4)
        chmod +x ./e2e-harness
    - run: ./e2e-harness localkube
    - run: ./e2e-harness setup --remote=false
    - run: ./e2e-harness test --test-dir=${TEST_DIR}
    - store_artifacts:
        path: .e2e-harness/workdir/logs
        destination: logs
    - run:
        command: ./e2e-harness teardown
        when: always



version: 2
jobs:
  build:
    machine: true
    steps:
    - checkout

    - run: |
        wget -q $(curl -sS -H "Authorization: token $RELEASE_TOKEN" https://api.github.com/repos/giantswarm/architect/releases/latest | grep browser_download_url | head -n 1 | cut -d '"' -f 4)
        chmod +x ./architect
        ./architect version

    - run: |
        date +"%Y" > /tmp/year
        date +"%m" > /tmp/month
        date +"%d" > /tmp/day
    - restore_cache:
        keys:
        - go-cache-v1-{{ checksum "/tmp/year" }}-{{ checksum "/tmp/month" }}-{{ checksum "/tmp/day" }}
        - go-cache-v1-{{ checksum "/tmp/year" }}-{{ checksum "/tmp/month" }}
        - go-cache-v1-{{ checksum "/tmp/year" }}

    - run: ./architect build

    - store_test_results:
        path: /tmp/results

    - save_cache:
        key: go-cache-v1-{{ checksum "/tmp/year" }}-{{ checksum "/tmp/month" }}-{{ checksum "/tmp/day" }}
        paths:
        - /tmp/go/cache

    - persist_to_workspace:
        root: .
        paths:
        - ./aws-operator

    - deploy:
        command: |
          if [ "${CIRCLE_BRANCH}" == "master" ]; then
            ./architect deploy
          fi
  master:
    docker:
      - image: busybox
    steps:
      - run: "true"
  pr:
    docker:
      - image: busybox
    steps:
      - run: "true"



  e2eTestCurPRClusterState:
    environment:
      TESTED_VERSION: "current"
      TEST_DIR: "integration/test/clusterstate"
    <<: *e2eTest

  e2eTestCurMasterClusterState:
    environment:
      TESTED_VERSION: "current"
      TEST_DIR: "integration/test/clusterstate"
    <<: *e2eTest

  e2eTestWIPPRClusterState:
    environment:
      TESTED_VERSION: "wip"
      TEST_DIR: "integration/test/clusterstate"
    <<: *e2eTest

  e2eTestWIPMasterClusterState:
    environment:
      TESTED_VERSION: "wip"
      TEST_DIR: "integration/test/clusterstate"
    <<: *e2eTest



  e2eTestCurPRDraining:
    environment:
      TESTED_VERSION: "current"
      TEST_DIR: "integration/test/draining"
    <<: *e2eTest

  e2eTestCurMasterDraining:
    environment:
      TESTED_VERSION: "current"
      TEST_DIR: "integration/test/draining"
    <<: *e2eTest

  e2eTestWIPPRDraining:
    environment:
      TESTED_VERSION: "wip"
      TEST_DIR: "integration/test/draining"
    <<: *e2eTest

  e2eTestWIPMasterDraining:
    environment:
      TESTED_VERSION: "wip"
      TEST_DIR: "integration/test/draining"
    <<: *e2eTest



# e2eTestCurPRIPAM:
#   environment:
#     TESTED_VERSION: "current"
#     TEST_DIR: "integration/test/ipam"
#   <<: *e2eTest
#
# e2eTestCurMasterIPAM:
#   environment:
#     TESTED_VERSION: "current"
#     TEST_DIR: "integration/test/ipam"
#   <<: *e2eTest
#
# e2eTestWIPPRIPAM:
#   environment:
#     TESTED_VERSION: "wip"
#     TEST_DIR: "integration/test/ipam"
#   <<: *e2eTest
#
# e2eTestWIPMasterIPAM:
#   environment:
#     TESTED_VERSION: "wip"
#     TEST_DIR: "integration/test/ipam"
#   <<: *e2eTest



  e2eTestCurPRRecreateCluster:
    environment:
      TESTED_VERSION: "current"
      TEST_DIR: "integration/test/recreatecluster"
    <<: *e2eTest

  e2eTestCurMasterRecreateCluster:
    environment:
      TESTED_VERSION: "current"
      TEST_DIR: "integration/test/recreatecluster"
    <<: *e2eTest

  e2eTestWIPPRRecreateCluster:
    environment:
      TESTED_VERSION: "wip"
      TEST_DIR: "integration/test/recreatecluster"
    <<: *e2eTest

  e2eTestWIPMasterRecreateCluster:
    environment:
      TESTED_VERSION: "wip"
      TEST_DIR: "integration/test/recreatecluster"
    <<: *e2eTest



  e2eTestCurPRScaling:
    environment:
      TESTED_VERSION: "current"
      TEST_DIR: "integration/test/scaling"
    <<: *e2eTest

  e2eTestCurMasterScaling:
    environment:
      TESTED_VERSION: "current"
      TEST_DIR: "integration/test/scaling"
    <<: *e2eTest

  e2eTestWIPPRScaling:
    environment:
      TESTED_VERSION: "wip"
      TEST_DIR: "integration/test/scaling"
    <<: *e2eTest

  e2eTestWIPMasterScaling:
    environment:
      TESTED_VERSION: "wip"
      TEST_DIR: "integration/test/scaling"
    <<: *e2eTest



  # Note we only have update tests for the current version because it anyway
  # tests one version transition. Having the same tests for WIP only runs the
  # same test twice and we can simply save resources by not doing so.
  e2eTestCurMasterUpdate:
    environment:
      TESTED_VERSION: "current"
      TEST_DIR: "integration/test/update"
    <<: *e2eTest
  e2eTestCurPRUpdate:
    environment:
      TESTED_VERSION: "current"
      TEST_DIR: "integration/test/update"
    <<: *e2eTest



workflows:
  version: 2
  build_e2e:
    jobs:
      - build
      - hold:
          type: approval
      - master:
          requires:
            - build
          filters:
            branches:
              only: master
      - pr:
          requires:
            - build
            - hold
          filters:
            branches:
              ignore: master



#     - e2eTestCurMasterClusterState:
#         requires:
#           - master
#     - e2eTestWIPMasterClusterState:
#         requires:
#           - master
      - e2eTestCurPRClusterState:
          requires:
            - pr
      - e2eTestWIPPRClusterState:
          requires:
            - pr



#     - e2eTestCurMasterDraining:
#         requires:
#           - master
#     - e2eTestWIPMasterDraining:
#         requires:
#           - master
      - e2eTestCurPRDraining:
          requires:
            - pr
      - e2eTestWIPPRDraining:
          requires:
            - pr



#     - e2eTestCurMasterIPAM:
#         requires:
#           - master
#     - e2eTestWIPMasterIPAM:
#         requires:
#           - master
      - e2eTestCurPRIPAM:
          requires:
            - pr
      - e2eTestWIPPRIPAM:
          requires:
            - pr



#     - e2eTestCurMasterRecreateCluster:
#         requires:
#           - master
#     - e2eTestWIPMasterRecreateCluster:
#         requires:
#           - master
      - e2eTestCurPRRecreateCluster:
          requires:
            - pr
      - e2eTestWIPPRRecreateCluster:
          requires:
            - pr



#     - e2eTestCurMasterScaling:
#         requires:
#           - master
#     - e2eTestWIPMasterScaling:
#         requires:
#           - master
      - e2eTestCurPRScaling:
          requires:
            - pr
      - e2eTestWIPPRScaling:
          requires:
            - pr



#     - e2eTestCurMasterUpdate:
#         requires:
#         - master
      - e2eTestCurPRUpdate:
          requires:
          - pr
