version: 2.1

orbs:
  architect: giantswarm/architect@0.8.8

workflows:
  build:
    jobs:
      - architect/go-build:
          name: go-build
          binary: aws-operator
          resource_class: large
          filters:
            tags:
              only: /^v.*/

      - architect/push-to-docker:
          name: push-aws-operator-to-quay
          image: "quay.io/giantswarm/aws-operator"
          username_envar: "QUAY_USERNAME"
          password_envar: "QUAY_PASSWORD"
          requires:
            - go-build
          filters:
            tags:
              only: /^v.*/

      - architect/push-to-docker:
          name: push-aws-operator-to-aliyun
          image: "registry-intl.cn-shanghai.aliyuncs.com/giantswarm/aws-operator"
          username_envar: "ALIYUN_USERNAME"
          password_envar: "ALIYUN_PASSWORD"
          requires:
            - go-build
          filters:
            branches:
              only: master
            tags:
              only: /^v.*/

      - architect/push-to-app-catalog:
          name: push-aws-operator-to-control-plane-app-catalog
          app_catalog: "control-plane-catalog"
          app_catalog_test: "control-plane-test-catalog"
          chart: "aws-operator"
          requires:
            - push-aws-operator-to-aliyun
            - push-aws-operator-to-quay
          filters:
            branches:
              only: master
            tags:
              only: /^v.*/

      - architect/push-to-app-catalog:
          name: push-aws-operator-to-control-plane-app-catalog
          app_catalog: "control-plane-catalog"
          app_catalog_test: "control-plane-test-catalog"
          chart: "aws-operator"
          requires:
            - push-aws-operator-to-quay
          filters:
            branches:
              ignore: master

      - architect/push-to-app-collection:
          name: push-aws-operator-to-aws-app-collection
          app_name: "aws-operator"
          app_collection_repo: "aws-app-collection"
          requires:
            - push-aws-operator-to-control-plane-app-catalog
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^v.*/
