version: 2
jobs:
  build:
    machine: true
    steps:
    - checkout

    - run: |
        wget -q $(curl -sS -H "Authorization: token $RELEASE_TOKEN" https://api.github.com/repos/giantswarm/architect/releases/latest | grep browser_download_url | head -n 1 | cut -d '"' -f 4)
        chmod +x ./architect
        ./architect version

    - run: ./architect build

    - persist_to_workspace:
        root: .
        paths:
        - ./helm
        - ./architect

    - deploy:
        command: |
          if [ "${CIRCLE_BRANCH}" == "master" ]; then
            ./architect deploy
          fi

  e2eTestBuild:
    machine: true
    steps:
    - checkout

    - attach_workspace:
        at: .

    - run: |
        cp -ar vendor e2e

        cd e2e
        ../architect build --project aws-operator-e2e

  e2eSetup:
    machine: true
    steps:
    - checkout

    - attach_workspace:
        at: .

    - run: |
        wget -q $(curl -sS https://api.github.com/repos/giantswarm/e2e-harness/releases/latest | grep browser_download_url | head -n 1 | cut -d '"' -f 4)
        chmod +x ./e2e-harness

    - run: ./e2e-harness setup --name=ci-awsop-${CIRCLE_SHA1:0:7}

    - persist_to_workspace:
        root: .
        paths:
        - ./e2e-harness
        - ./.e2e-harness

  e2eTestExecution:
    machine: true
    steps:
    - checkout

    - attach_workspace:
        at: .

    - run: ./e2e-harness test

    - persist_to_workspace:
        root: .
        paths:
        - ./.e2e-harness


  e2eTeardown:
    machine: true
    steps:
    - checkout

    - attach_workspace:
        at: .

    - run: ./e2e-harness teardown

workflows:
  version: 2
  build_e2e:
    jobs:
      - build
      - e2eTestBuild:
          requires:
          - build
      - e2eSetup:
          requires:
          - build
      - e2eTestExecution:
          requires:
          - e2eSetup
          - e2eTestBuild
      - e2eTeardown:
          requires:
          - e2eTestExecution
