# TODO the workflow is unnecessary complicated due to some deficiencies in our
# deployment pipeline as of time of writing. Therefore the push to Aliyun is
# kind of optional in pull requests so that it does not block the push to the
# app catalog. This is to have faster iterations when working on a daily basis.
# Nevertheless we want the image push to Aliyun to be finished before we want to
# push to the app catalog in case we merge to master or push a tag, which
# indicates a new release. This is to have a more reliable pipeline, with the
# caveat that it takes longer and sometimes even breaks. Once the situation got
# improved we can simplify the circle config again as modified in the pull
# request linked below.
#
#     https://github.com/giantswarm/aws-operator/pull/2347
#
version: 2.1

orbs:
  architect: giantswarm/architect@4.28.1

workflows:
  build:
    jobs:
      - architect/go-build:
          name: go-build
          binary: aws-operator
          resource_class: xlarge
          filters:
            tags:
              only: /^v.*/

      # Ensure that for every commit (all branches), and for every new release tag,
      # an image is pushed to Quay.
      - architect/push-to-docker:
          context: architect
          name: push-to-quay
          image: "quay.io/giantswarm/aws-operator"
          username_envar: "QUAY_USERNAME"
          password_envar: "QUAY_PASSWORD"
          requires:
            - go-build
          filters:
            tags:
              only: /^v.*/

      - architect/push-to-docker:
          context: architect
          name: push-to-docker
          image: "docker.io/giantswarm/aws-operator"
          username_envar: "DOCKER_USERNAME"
          password_envar: "DOCKER_PASSWORD"
          requires:
            - go-build
          # Needed to trigger job also on git tag.
          filters:
            tags:
              only: /^v.*/

      # Ensure that for every commit to master, and for every new release tag,
      # an image gets pushed to the Aliyun registry.
      - architect/push-to-docker:
          name: push-to-aliyun
          image: "giantswarm-registry.cn-shanghai.cr.aliyuncs.com/giantswarm/aws-operator"
          username_envar: "ALIYUN_USERNAME"
          password_envar: "ALIYUN_PASSWORD"
          context: architect
          requires:
            - go-build
          filters:
            branches:
              only: master
            tags:
              only: /^v.*/

      # Allow that for every commit (to a branch other than master),
      # and for every new tag that is not a release tag,
      # an image _can_ get pushed to the Aliyun registry
      # if manually approved.
      - hold-push-to-aliyun-pr:
          type: approval
          context: architect
          requires:
            - go-build
          filters:
            branches:
              ignore: master
            tags:
              ignore: /^v.*/
      - architect/push-to-docker:
          name: push-to-aliyun-pr
          image: "giantswarm-registry.cn-shanghai.cr.aliyuncs.com/giantswarm/aws-operator"
          username_envar: "ALIYUN_USERNAME"
          password_envar: "ALIYUN_PASSWORD"
          context: architect
          requires:
            - hold-push-to-aliyun-pr
          filters:
            branches:
              ignore: master
            tags:
              ignore: /.*/

      # Ensure that for every commit to master and for every
      # release tag, there is an app version in the catalog.
      - architect/push-to-app-catalog:
          name: push-to-app-catalog-master
          app_catalog: "control-plane-catalog"
          app_catalog_test: "control-plane-test-catalog"
          chart: "aws-operator"
          context: architect
          requires:
            - push-to-aliyun
            - push-to-quay
            - push-to-docker
          filters:
            branches:
              only: master
            tags:
              only: /^v.*/

      # Ensure that for every commit (branch other than master)
      # there is an app version in the test catalog.
      # Note: Making this app usable in china needs manual approval
      # of the 'hold-push-to-aliyun-pr' job.
      - architect/push-to-app-catalog:
          name: push-to-app-catalog-pr
          app_catalog: "control-plane-catalog"
          app_catalog_test: "control-plane-test-catalog"
          chart: "aws-operator"
          context: architect
          requires:
            - push-to-quay
            - push-to-docker
          filters:
            branches:
              ignore: master
