version: 2.1

orbs:
  architect: giantswarm/architect@dev:resource-class

workflows:
  build:
    jobs:
      - architect/go-build:
          name: "go-build-aws-operator"
          resource_class: "large"
          binary: "aws-operator"
          filters:
            # Trigger job also on git tag.
            tags:
              only: /^v.*/

      - architect/push-to-docker:
          name: push-aws-operator-to-quay
          image: "quay.io/giantswarm/aws-operator"
          username_envar: "QUAY_USERNAME"
          password_envar: "QUAY_PASSWORD"
          requires:
            - go-build-aws-operator
          filters:
            # Trigger the job also on git tag.
            tags:
              only: /^v.*/

      - architect/push-to-docker:
          name: push-aws-operator-to-aliyun-pr
          image: "registry-intl.cn-shanghai.aliyuncs.com/giantswarm/aws-operator"
          username_envar: "ALIYUN_USERNAME"
          password_envar: "ALIYUN_PASSWORD"
          # Push to Aliyun should execute for non-master branches only once manually approved.
          requires:
            - go-build-aws-operator
          filters:
            # Do not trigger the job on merge to master.
            branches:
              ignore: master

      # Push to Aliyun should execute without manual approval on master.
      - architect/push-to-docker:
          name: push-aws-operator-to-aliyun-master
          image: "registry-intl.cn-shanghai.aliyuncs.com/giantswarm/aws-operator"
          username_envar: "ALIYUN_USERNAME"
          password_envar: "ALIYUN_PASSWORD"
          requires:
            - go-build-aws-operator
          filters:
            # Trigger the job on merge to master.
            branches:
              only: master
            # Trigger the job also on git tag.
            tags:
              only: /^v.*/

      - architect/push-to-app-catalog:
          name: push-aws-operator-to-control-plane-app-catalog
          app_catalog: "control-plane-catalog"
          app_catalog_test: "control-plane-test-catalog"
          chart: "aws-operator"
          requires:
            - push-aws-operator-to-quay
          filters:
            # Trigger the job also on git tag.
            tags:
              only: /^v.*/

      - architect/push-to-app-collection:
          name: push-aws-operator-to-aws-app-collection
          app_name: "aws-operator"
          app_collection_repo: "aws-app-collection"
          requires:
            - push-aws-operator-to-control-plane-app-catalog
          filters:
            # Do not trigger the job on commit.
            branches:
              ignore: /.*/
            # Trigger the job also on git tag.
            tags:
              only: /^v.*/
