e2eTest: &e2eTest
    machine: true
    working_directory: /home/circleci/.go_workspace/src/github.com/giantswarm/aws-operator
    steps:
    - checkout
    - attach_workspace:
        at: .
    - run: |
        wget -q $(curl -sS https://api.github.com/repos/giantswarm/e2e-harness/releases/latest | grep browser_download_url | head -n 1 | cut -d '"' -f 4)
        chmod +x ./e2e-harness
    - run: ./e2e-harness localkube
    - run: ./e2e-harness setup --remote=false
    - run: ./e2e-harness test --test-dir=${TEST_DIR}
    - store_artifacts:
        path: .e2e-harness/workdir/logs
        destination: logs
    - run:
        command: ./e2e-harness teardown
        when: always

orbs:
  architect: giantswarm/architect@0.3.0

version: 2.1
jobs:
  build:
    machine: true
    steps:
    - checkout

    - run: |
        wget -q https://github.com/giantswarm/architect/releases/download/v2.1.0/architect-v2.1.0-linux-amd64.tar.gz
        tar -xf architect-v2.1.0-linux-amd64.tar.gz
        cp architect-v2.1.0-linux-amd64/architect ./
        chmod +x ./architect
        ./architect version

    - run: |
        date +"%Y" > /tmp/year
        date +"%m" > /tmp/month
        date +"%d" > /tmp/day
    - restore_cache:
        keys:
        - go-cache-v1-{{ checksum "/tmp/year" }}-{{ checksum "/tmp/month" }}-{{ checksum "/tmp/day" }}
        - go-cache-v1-{{ checksum "/tmp/year" }}-{{ checksum "/tmp/month" }}
        - go-cache-v1-{{ checksum "/tmp/year" }}

    - run: ./architect build

    - store_test_results:
        path: /tmp/results

    - save_cache:
        key: go-cache-v1-{{ checksum "/tmp/year" }}-{{ checksum "/tmp/month" }}-{{ checksum "/tmp/day" }}
        paths:
        - /tmp/go/cache

    - persist_to_workspace:
        root: .
        paths:
        - ./aws-operator

    - deploy:
        command: |
          if [ "${CIRCLE_BRANCH}" == "master" ]; then
            ./architect deploy
          fi

  master:
    docker:
      - image: busybox
    steps:
      - run: "true"
  pr:
    docker:
      - image: busybox
    steps:
      - run: "true"



  e2eTestPRClusterState:
    environment:
      TEST_DIR: "integration/test/clusterstate"
    <<: *e2eTest

  e2eTestMasterClusterState:
    environment:
      TEST_DIR: "integration/test/clusterstate"
    <<: *e2eTest



  e2eTestPRDraining:
    environment:
      TEST_DIR: "integration/test/draining"
    <<: *e2eTest

  e2eTestMasterDraining:
    environment:
      TEST_DIR: "integration/test/draining"
    <<: *e2eTest



# e2eTestPRIPAM:
#   environment:
#     TEST_DIR: "integration/test/ipam"
#   <<: *e2eTest
#
# e2eTestMasterIPAM:
#   environment:
#     TEST_DIR: "integration/test/ipam"
#   <<: *e2eTest



  e2eTestPRRecreateCluster:
    environment:
      TEST_DIR: "integration/test/recreatecluster"
    <<: *e2eTest

  e2eTestMasterRecreateCluster:
    environment:
      TEST_DIR: "integration/test/recreatecluster"
    <<: *e2eTest



  e2eTestPRScaling:
    environment:
      TEST_DIR: "integration/test/scaling"
    <<: *e2eTest

  e2eTestMasterScaling:
    environment:
      TEST_DIR: "integration/test/scaling"
    <<: *e2eTest


  # Update test is disabled now. We need to figure how to create previous
  # version of the cluster with flattened operator in integration tests.
  #e2eTestMasterUpdate:
  #  environment:
  #    TEST_DIR: "integration/test/update"
  #  <<: *e2eTest
  #e2eTestPRUpdate:
  #  environment:
  #    TEST_DIR: "integration/test/update"
  #  <<: *e2eTest



workflows:
  version: 2
  build:
    jobs:
      - build:
          filters:
            tags:
              only: /^v.*/
      - architect/push-to-docker:
          name: push-aws-operator-to-docker
          image: "quay.io/giantswarm/aws-operator"
          username_envar: "QUAY_USERNAME"
          password_envar: "QUAY_PASSWORD"
          requires:
            - build
          # Needed to trigger job also on git tag.
          filters:
            tags:
              only: /^v.*/
      - architect/push-to-docker:
          name: push-aws-operator-to-aliyun
          image: "registry-intl.cn-shanghai.aliyuncs.com/giantswarm/aws-operator"
          username_envar: "ALIYUN_USERNAME"
          password_envar: "ALIYUN_PASSWORD"
          requires:
            - build
          # Needed to trigger job also on git tag.
          filters:
            tags:
              only: /^v.*/
      - architect/push-to-app-catalog:
          name: push-aws-operator-to-control-plane-app-catalog
          app_catalog: "control-plane-catalog"
          app_catalog_test: "control-plane-test-catalog"
          chart: "aws-operator"
          requires:
            - push-aws-operator-to-docker
          # Needed to trigger job also on git tag.
          filters:
            tags:
              only: /^v.*/
      - architect/push-to-app-collection:
          name: push-to-aws-app-collection
          app_name: "aws-operator"
          app_collection_repo: "aws-app-collection"
          requires:
            - push-aws-operator-to-control-plane-app-catalog
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^v.*/
      - hold:
          type: approval
      - master:
          requires:
            - build
          filters:
            branches:
              only: master
      - pr:
          requires:
            - build
            - hold
          filters:
            branches:
              ignore: master



#     - e2eTestMasterClusterState:
#         requires:
#           - master
      - e2eTestPRClusterState:
          requires:
            - pr



#     - e2eTestMasterDraining:
#         requires:
#           - master
      - e2eTestPRDraining:
          requires:
            - pr



#     - e2eTestMasterIPAM:
#         requires:
#           - master
#     - e2eTestPRIPAM:
#         requires:
#           - pr



#     - e2eTestMasterRecreateCluster:
#         requires:
#           - master
      - e2eTestPRRecreateCluster:
          requires:
            - pr



#     - e2eTestMasterScaling:
#         requires:
#           - master
      - e2eTestPRScaling:
          requires:
            - pr



#     - e2eTestMasterUpdate:
#         requires:
#         - master
#     - e2eTestPRUpdate:
#         requires:
#         - pr
