apiVersion: v1
kind: ConfigMap
metadata:
  name: aws-operator-configmap
  namespace: giantswarm
data:
  config.yaml: |
    server:
      listen:
        address: 'http://0.0.0.0:8000'
    service:
      aws:
        region: '{{ .Values.Installation.V1.Provider.AWS.Region }}'
        accessLogsExpiration: '{{ .Values.Installation.V1.Provider.AWS.S3AccessLogsExpiration }}'
      guest:
        update:
          enabled: {{ .Values.Installation.V1.Guest.Update.Enabled }}
      installation:
        name: '{{ .Values.Installation.V1.Name }}'
        testing: '{{ .Values.Installation.V1.Provider.AWS.DeleteLoggingBucket }}'
        {{- if .Values.Installation.V1.Guest }}
        guest:
          kubernetes:
            api:
              auth:
                provider:
                  oidc:
                    clientID: '{{ .Values.Installation.V1.Guest.Kubernetes.API.Auth.Provider.OIDC.ClientID }}'
                    issuerURL: '{{ .Values.Installation.V1.Guest.Kubernetes.API.Auth.Provider.OIDC.IssuerURL }}'
                    usernameClaim: '{{ .Values.Installation.V1.Guest.Kubernetes.API.Auth.Provider.OIDC.UsernameClaim }}'
                    groupsClaim: '{{ .Values.Installation.V1.Guest.Kubernetes.API.Auth.Provider.OIDC.GroupsClaim }}'
              security:
                whitelist:
                  enabled: {{ .Values.Installation.V1.Security.RestrictAccess.Enabled }}
                  {{- if .Values.Installation.V1.Security.RestrictAccess.Enabled }}
                  subnetList: {{ .Values.Installation.V1.Security.RestrictAccess.WhitelistSubnets  }}
                  {{- end }}
        {{- end }}
      kubernetes:
        incluster: true
