apiVersion: v1
kind: ConfigMap
metadata:
  name: aws-operator-configmap
  namespace: giantswarm
data:
  config.yaml: |
    server:
      listen:
        address: 'http://0.0.0.0:8000'
    service:
      aws:
        accessLogsExpiration: '{{ .Values.Installation.V1.Provider.AWS.S3AccessLogsExpiration }}'
        advancedMonitoringEC2: '{{ .Values.Installation.V1.Provider.AWS.AdvancedMonitoringEC2 }}'
        encrypter: '{{ .Values.Installation.V1.Provider.AWS.Encrypter }}'
        includeTags: '{{ .Values.Installation.V1.Provider.AWS.IncludeTags }}'
        loggingBucket:
          delete: '{{ .Values.Installation.V1.Provider.AWS.DeleteLoggingBucket }}'
        podInfraContainerImage: '{{ .Values.Installation.V1.Provider.AWS.PodInfraContainerImage }}'
        region: '{{ .Values.Installation.V1.Provider.AWS.Region }}'
        route53:
          enabled: '{{ .Values.Installation.V1.Provider.AWS.Route53.Enabled }}'
        publicRouteTables: '{{ .Values.Installation.V1.Provider.AWS.PublicRouteTableNames }}'
        vaultAddress: '{{ .Values.Installation.V1.Auth.Vault.Address }}'
      guest:
        ssh:
          ssoPublicKey: '{{ .Values.Installation.V1.Guest.SSH.SSOPublicKey }}'
        update:
          enabled: {{ .Values.Installation.V1.Guest.Update.Enabled }}
      registryDomain: '{{ .Values.Installation.V1.Registry.Domain }}'
      installation:
        name: '{{ .Values.Installation.V1.Name }}'
        {{- if .Values.Installation.V1.Guest }}
        guest:
          ipam:
            network:
              cidr: '{{ .Values.Installation.V1.Guest.IPAM.NetworkCIDR }}'
              subnetMaskBits: '{{ .Values.Installation.V1.Guest.IPAM.CIDRMask }}'
              privateSubnetMaskBits: '{{ .Values.Installation.V1.Guest.IPAM.PrivateSubnetMask }}'
              publicSubnetMaskBits: '{{ .Values.Installation.V1.Guest.IPAM.PublicSubnetMask }}'
          kubernetes:
            api:
              auth:
                provider:
                  oidc:
                    clientID: '{{ .Values.Installation.V1.Guest.Kubernetes.API.Auth.Provider.OIDC.ClientID }}'
                    issuerURL: '{{ .Values.Installation.V1.Guest.Kubernetes.API.Auth.Provider.OIDC.IssuerURL }}'
                    usernameClaim: '{{ .Values.Installation.V1.Guest.Kubernetes.API.Auth.Provider.OIDC.UsernameClaim }}'
                    groupsClaim: '{{ .Values.Installation.V1.Guest.Kubernetes.API.Auth.Provider.OIDC.GroupsClaim }}'
              security:
                whitelist:
                  enabled: {{ .Values.Installation.V1.Security.RestrictAccess.GuestAPI }}
                  {{- if .Values.Installation.V1.Security.RestrictAccess.GuestAPI }}
                  subnetList: "{{ .Values.Installation.V1.Security.Subnet.VPN }},{{ .Values.Installation.V1.Security.Subnet.Customer }}"
                  {{- end }}
        {{- end }}
      kubernetes:
        incluster: true
