apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: aws-operator.v[[ .Version ]]
rules:
  - apiGroups:
      - cluster.giantswarm.io
    resources:
      - awses
    verbs:
      - "*"
  - apiGroups:
      - cluster.k8s.io
    resources:
      - clusters
      - machinedeployments
    verbs:
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - apiextensions.k8s.io
    resources:
      - customresourcedefinitions
    verbs:
      - "*"
  - apiGroups:
      - extensions
    resources:
      - thirdpartyresources
    verbs:
      - "*"
  - apiGroups:
      - provider.giantswarm.io
    resources:
      - awsconfigs
      - awsconfigs/status
    verbs:
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - provider.giantswarm.io
    resources:
      - awsconfigs/status
    verbs:
      - create
      - patch
      - update
  - apiGroups:
      - core.giantswarm.io
    resources:
      - nodeconfigs
    verbs:
      - "*"
  - apiGroups:
      - core.giantswarm.io
    resources:
      - drainerconfigs
    verbs:
      - "*"
  - apiGroups:
      - ""
    resources:
      - namespaces
    verbs:
      - get
      - create
      - delete
  - apiGroups:
      - ""
    resources:
      - endpoints
      - services
    verbs:
      - "*"
  - apiGroups:
      - ""
    resources:
      - secrets
    verbs:
      - get
      - update
      - watch
  - apiGroups:
      - ""
    resources:
      - configmaps
    resourceNames:
      - aws-operator-configmap
    verbs:
      - get
  - nonResourceURLs:
      - "/"
      - "/healthz"
    verbs:
      - get
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: aws-operator.v[[ .Version ]]
subjects:
  - kind: ServiceAccount
    name: aws-operator.v[[ .Version ]]
    namespace: {{ .Values.namespace }}
roleRef:
  kind: ClusterRole
  name: aws-operator.v[[ .Version ]]
  apiGroup: rbac.authorization.k8s.io
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: aws-operator-psp.v[[ .Version ]]
rules:
  - apiGroups:
      - extensions
    resources:
      - podsecuritypolicies
    verbs:
      - use
    resourceNames:
      - aws-operator-psp
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: aws-operator-psp.v[[ .Version ]]
subjects:
  - kind: ServiceAccount
    name: aws-operator.v[[ .Version ]]
    namespace: {{ .Values.namespace }}
roleRef:
  kind: ClusterRole
  name: aws-operator-psp.v[[ .Version ]]
  apiGroup: rbac.authorization.k8s.io
