apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ tpl .Values.resource.default.name  . }}
  namespace: {{ tpl .Values.resource.default.namespace  . }}
  labels:
    app: {{ tpl .Values.resource.default.name  . }}
spec:
  replicas: 1
  revisionHistoryLimit: 3
  selector:
    matchLabels:
      app: {{ tpl .Values.resource.default.name  . }}
  strategy:
    type: RollingUpdate
  template:
    metadata:
      annotations:
        releaseRevision: {{ .Release.Revision | quote }}
      labels:
        app: {{ tpl .Values.resource.default.name  . }}
    spec:
      volumes:
      - name: {{ .Values.project.name }}-configmap
        configMap:
          name: {{ tpl .Values.resource.default.name  . }}
          items:
          - key: config.yaml
            path: config.yaml
      - name: {{ .Values.project.name }}-secret
        secret:
          secretName: {{ tpl .Values.resource.default.name  . }}
          items:
          - key: secret.yaml
            path: secret.yaml
      - name: certs
        hostPath:
          path: /etc/ssl/certs/ca-certificates.crt
      serviceAccountName: {{ tpl .Values.resource.default.name  . }}
      securityContext:
        runAsUser: {{ .Values.pod.user.id }}
        runAsGroup: {{ .Values.pod.group.id }}
      containers:
      - name: {{ .Values.project.name }}
        image: "{{ .Values.Installation.V1.Registry.Domain }}/{{ .Values.image.name }}:{{ .Values.image.tag }}"
        volumeMounts:
        - name: {{ .Values.project.name }}-configmap
          mountPath: /var/run/{{ .Values.project.name }}/configmap/
        - name: {{ .Values.project.name }}-secret
          mountPath: /var/run/{{ .Values.project.name }}/secret/
          readOnly: true
        - name: certs
          mountPath: /etc/ssl/certs/ca-certificates.crt
        ports:
        - name: http
          containerPort: 8000
        args:
        - daemon
        - --config.dirs=/var/run/{{ .Values.project.name }}/configmap/
        - --config.dirs=/var/run/{{ .Values.project.name }}/secret/
        - --config.files=config
        - --config.files=secret
        livenessProbe:
          httpGet:
            path: /healthz
            port: 8000
          initialDelaySeconds: 30
          timeoutSeconds: 10
        readinessProbe:
          httpGet:
            path: /healthz
            port: 8000
          initialDelaySeconds: 30
          timeoutSeconds: 10
        resources:
          requests:
            cpu: 100m
            memory: 250Mi
          limits:
            cpu: 250m
            memory: 250Mi
      imagePullSecrets:
      - name: {{ tpl .Values.resource.pullSecret.name . }}
